<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>
    <body>

    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>About Hemmingwurst</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <p>Hemmingwurst is a light riff on <a href="http://www.hemingwayapp.com/">Hemmingway App</a>, an app which "makes your writing clear and bold." I don't mean to diminish the work that they've done - I actually think what they're doing is pretty interesting - I just couldn't resist the pun. Plus, this was a great chance to try out <a href="http://flask.pocoo.org/">Flask</a> which was incredibly easy to get set up and working with Heroku.</p>
        <p>Heroku has some very handy <a href="https://devcenter.heroku.com/articles/getting-started-with-python">instructions for setting up Flask apps</a>, which are worth checking out. It only took me a couple hours to go from concept to completion, which goes to show how easy Flask and Heroku have made it to get started.</p>
        <p>Read the <a href="https://github.com/GeorgeNagel/hemmingwurst">code on Github</a>.</p>
        <hr />
        <p><a href="/">Back to Hemmingwurst</a></p>
      </div>
    </div>
  </div> <!-- /container -->
    </body>
</html>
